.color-card{
    box-shadow: 0 0 3px 3px #e2e0e0;
}

.show-color{
    height: 90px;
}

.color-details{
    padding: 0.625rem;
}

.hex-code{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.hex-code:hover{
    text-decoration: underline;
}

.color-name{
    font-size: 0.9rem;
}